<!-- _includes/awards.html -->
<!-- <h2 class="awards-title">Awards</h2> -->

<!-- <h2>Fellowships and Scholarships</h2> -->

<div class="fellowship-item" style="margin-bottom: 20px; margin-top: 20px;">
  <h6><strong>Oct 2024</strong> UCF Graduate Presentation Fellowship <a href="https://graduate.ucf.edu/presentation-fellowship/" target="_blank">Details</a></h6>
</div>

<div class="fellowship-item" style="margin-bottom: 20px; margin-top: 20px;">
  <h6><strong>Oct 2023</strong> UCF Graduate Presentation Fellowship <a href="https://graduate.ucf.edu/presentation-fellowship/" target="_blank">Details</a></h6>
</div>

<div class="fellowship-item" style="margin-bottom: 20px;">
  <h6><strong>Jan 2023</strong> Graduate Research Mentor Award. <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">Details</a></h6>
</div>

<div class="fellowship-item" style="margin-bottom: 20px;">
  <h6><strong>Nov 2022</strong> UCF Alumni Fellows Leadership Scholarship. <a href="https://ucfalumni.com/scholarships/" target="_blank">Details</a></h6>
</div>

<div class="fellowship-item" style="margin-bottom: 20px;">
  <h6><strong>Oct 2022</strong> UCF Graduate Presentation Fellowship. <a href="https://graduate.ucf.edu/presentation-fellowship/" target="_blank">Details</a></h6>
</div>

<div class="fellowship-item" style="margin-bottom: 20px;">
  <h6><strong>Aug 2022</strong> IEEE TMI Silver Distinguished Reviewer. <a href="https://www.ieeetmi.org/" target="_blank">Details</a></h6>
</div>

<div class="fellowship-item" style="margin-bottom: 20px;">
  <h6><strong>Feb 2022</strong> Distinguished Referee: for Medical Physics journal. <a href="https://www.medphys.org/" target="_blank">Details</a></h6>
</div>

<div class="fellowship-item" style="margin-bottom: 20px;">
  <h6><strong>Jan 2022</strong> Graduate Research Mentor Award. <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">Details</a></h6>
</div>

<div class="fellowship-item" style="margin-bottom: 20px;">
  <h6><strong>Aug 2018</strong> ORCGS Doctoral Fellowship. <a href="https://graduate.ucf.edu/graduate-guide/fellowships" target="_blank">Details</a></h6>
</div>

<!-- <div class="fellowship-item" style="margin-bottom: 20px;">
  <h6><strong>Sep 2012</strong> Sahara India Scholarship. <a href="https://www.sahara.in/csr.html" target="_blank">Details</a></h6>
</div>

<div class="fellowship-item" style="margin-bottom: 20px;">
  <h6><strong>Feb 2012</strong> Central Sector Scholarship. <a href="https://scholarships.gov.in/" target="_blank">Details</a></h6>
</div>

<div class="fellowship-item" style="margin-bottom: 20px;">
  <h6><strong>Jun 2010</strong> Top Scorer Award</h6>
</div> -->
