<!-- _includes/experience.html -->
<!-- <h2 class="experience-title">Work Experience</h2> -->

<!-- Current AI/ML Intern at Tokyo Electron Limited -->
<div class="experience-item" style="display: flex; align-items: center; margin-bottom: 20px;">
    <div class="experience-logo" style="flex: 1; text-align: center;">
        <!-- Replace with actual logo path if available -->
        <img src="../assets/img/TEL.png" alt="Tokyo Electron Limited" style="max-width: 100%;">
    </div>
    <div class="experience-details" style="flex: 4; padding-left: 20px;">
        <h3>AI/ML Intern</h3>
        <p>Tokyo Electron Limited, Albany, New York, USA. Jun 2024 - Jun 2025</p>
        <p></p>
        <!-- <p>Built a UI to monitor tool health, track metrics, display alarms, and provide GenAI-powered troubleshooting support.</p> -->
    </div>
</div>

<!-- Research Scientist Intern at Snap Inc. -->
<div class="experience-item" style="display: flex; align-items: center; margin-bottom: 20px;">
    <div class="experience-logo" style="flex: 1; text-align: center;">
        <img src="../assets/img/Snap.jpg" alt="Snap Research" style="max-width: 100%;">
    </div>
    <div class="experience-details" style="flex: 4; padding-left: 20px;">
        <h3>Research Scientist Intern</h3>
        <p>Snap Inc., Santa Monica, California, USA. September 2019 - December 2019</p>
        <p></p>
        <!-- <p>Developed LLMs to recommend social media posts, micro-blogs, and short messages.</p> -->
    </div>
</div>

<!-- Research Scientist Intern at Siemens Healthineers -->
<div class="experience-item" style="display: flex; align-items: center; margin-bottom: 20px;">
    <div class="experience-logo" style="flex: 1; text-align: center;">
        <img src="../assets/img/siem.png" alt="Siemens Healthineers" style="max-width: 100%;">
    </div>
    <div class="experience-details" style="flex: 4; padding-left: 20px;">
        <h3>Research Scientist Intern</h3>
        <p>Siemens Healthineers, Princeton, New Jersey, USA. May 2019 - August 2019</p>
        <p></p>
        <!-- <p>Developed proof-of-concept LLM-based predictive models for EHR to improve diagnostics and patient outcomes.</p> -->
    </div>
</div>

<!-- Research Assistant at Indian Institute of Technology, Madras 
 -->
<div class="experience-item" style="display: flex; align-items: center; margin-bottom: 20px;">
    <div class="experience-logo" style="flex: 1; text-align: center;">
        <img src="../assets/img/IITMLogo.png" alt="Indian Institute of Technology, Madras" style="max-width: 100%;">
    </div>
    <div class="experience-details" style="flex: 4; padding-left: 20px;">
        <h3>Research Assistant</h3>
        <p>Indian Institute of Technology, Madras, Tamil Nadu, India. Jun 2014 - Jul 2018</p>
        <p></p>
        <!-- <p>Developed algorithms for image and signal reconstruction, and medical image analysis.</p> -->
    </div>
</div>