<!-- _includes/mentors.html -->
<!-- <h2>Mentor in NSF-LEARN</h2> -->

<div class="mentor-item" style="margin-top: 20px;">
    <h6><a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">Matthew Le</a>, <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">2023</a></h6>
  </div>
  
  <div class="mentor-item">
    <h6><a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">Jessica Portela</a>, <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">2023</a></h6>
  </div>
  
  <div class="mentor-item">
    <h6><a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">Khushi Patel</a>, <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">2022</a></h6>
  </div>
  
  <div class="mentor-item">
    <h6><a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">David Merveilleux</a>, <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">2022</a></h6>
  </div>
  
  <div class="mentor-item">
    <h6><a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">Ann Mai</a>, <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">2021</a></h6>
  </div>
  
  <div class="mentor-item">
    <h6><a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">Christopher Petit</a>, <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">2021</a></h6>
  </div>
