<!-- _includes/mentors.html -->
<!-- <h2>Mentor in NSF-LEARN</h2> -->

<div class="mentor-item" style="margin-top: 20px;">
    <h6><a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank"><strong>Matthew Le</strong></a>, <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">2023</a></h6>
  </div>
  
  <div class="mentor-item">
    <h6><a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank"><strong>Jessica Portela</strong></a>, <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">2023</a></h6>
  </div>
  
  <div class="mentor-item">
    <h6><a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank"><strong>Khushi Patel</strong></a>, <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">2022</a></h6>
  </div>
  
  <div class="mentor-item">
    <h6><a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank"><strong>David Merveilleux</strong></a>, <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">2022</a></h6>
  </div>
  
  <div class="mentor-item">
    <h6><a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank"><strong>Ann Mai</strong></a>, <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">2021</a></h6>
  </div>
  
  <div class="mentor-item">
    <h6><a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank"><strong>Christopher Petit</strong></a>, <a href="https://academicsuccess.ucf.edu/learn/about/" target="_blank">2021</a></h6>
  </div>
