<!-- _includes/review.html -->
<!-- <h2 class="review-title">Review</h2> -->

<!-- <h2>Reviewer and Academic Service</h2> -->

<div class="review-item" style="margin-bottom: 20px;">
  <h6><strong>2025</strong> - Reviewer (Invited), <a href="https://www.ieeesmc.org/publications/transactions-on-computational-social-systems/" target="_blank">IEEE Transactions on Computational Social Systems</a></h6>
</div>

<div class="review-item" style="margin-bottom: 20px;">
  <h6><strong>2024</strong> - Associate Editor (Invited), <a href="https://aapm.onlinelibrary.wiley.com/journal/24734209" target="_blank">Medical Physics</a></h6>
</div>

<div class="review-item" style="margin-bottom: 20px;">
  <h6><strong>2024</strong> - Reviewer (Invited), <a href="https://www.sciencedirect.com/journal/international-journal-of-medical-informatics" target="_blank">Elsevier's International Journal of Medical Informatics</a></h6>
</div>

<div class="review-item" style="margin-bottom: 20px; margin-top: 20px;">
  <h6><strong>2024</strong> - Program Committee Member, <a href="https://www.icmla-conference.org/icmla24/pcm.html" target="_blank">ICMLA 2024 Conference</a></h6>
</div>

<div class="review-item" style="margin-bottom: 20px;">
  <h6><strong>2024</strong> - Reviewer, <a href="https://www.sciencedirect.com/journal/neural-networks" target="_blank">Elsevier’s Neural Networks</a></h6>
</div>

<div class="review-item" style="margin-bottom: 20px;">
  <h6><strong>2023</strong> - Chair, Video Applications Session at <a href="https://www.icmla-conference.org/icmla23/schedule.html" target="_blank">ICMLA 2023 Conference</a></h6>
</div>

<div class="review-item" style="margin-bottom: 20px;">
  <h6><strong>2023</strong> - Reviewer, <a href="https://newinml.github.io/" target="_blank">Conference on Neural Information Processing Systems (NeurIPS)</a></h6>
</div>

<div class="review-item" style="margin-bottom: 20px;">
  <h6><strong>2023</strong> - Reviewer, <a href="https://www.icmla-conference.org/icmla23/schedule.html" target="_blank">IEEE International Conference on Machine Learning and Applications (ICMLA)</a></h6>
</div>

<div class="review-item" style="margin-bottom: 20px;">
  <h6><strong>2020</strong> - Reviewer, <a href="https://aapm.onlinelibrary.wiley.com/journal/24734209" target="_blank">Medical Physics</a></h6>
</div>

<div class="review-item" style="margin-bottom: 20px;">
  <h6><strong>2020</strong> - Reviewer, <a href="https://www.ieeetmi.org/" target="_blank">IEEE Transactions on Medical Imaging (TMI)</a></h6>
</div>

<div class="review-item" style="margin-bottom: 20px;">
  <h6><strong>2020</strong> - Reviewer, <a href="https://journals.plos.org/plosone/" target="_blank">PLOS One</a></h6>
</div>